<!DOCTYPE html>
<html>
<head>
	<title>main page</title>
	<link rel="stylesheet" type="text/css" href="../main.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
	<h1>System page</h1>
	<!-- <h3><a href="/personal">個人資料</a></h3> -->
	<nav>
		<ul>
			<li style="font-size: 0.99em"><a href="/lists">活動列表</a></li>
			<li style="font-weight: bold; font-style: italic; font-size: 1.05em;"><a href="/lists/admin">活動管理</a></li>
			<li style="font-size: 0.99em"><a href="/lists/mine">我的活動</a></li>
			<li style="font-size: 0.99em"><a href="/lists/new">發起活動</a></li>
			<li style="font-size: 0.99em"><a href="/personal">個人資料</a></li>
			<li style="font-size: 0.99em"><a href="/logout">登出</a></li>
		</ul>
	</nav>
	<hr>
	<div id="container">
		<% if(num == 0) { %>
		<h2>目前無管理活動</h2>
		<% } %>
		<% if(num > 0) { %>
			<table class="table table-hover">
				<tr>
					<td>活動名稱</td><td>日期</td><td>人數上限</td><td>報名人數</td><td>主辦人</td><td> </td>
				</tr>
				<% for(let i = 0; i < num; i++) { %>
					<tr>
						<td><%= text[i]['name'] %></td><td><%= text[i]['date'] %></td><td><%= text[i]['limits'] %></td><td><%= text[i]['number'] %></td><td><%= text[i]['admin'] %></td>
						<!-- <td><a href="edit/<%= text[i]['name'] %>">編輯</a></td> -->
						<td><a href="<%= text[i]['eid'] %>/edit">編輯</a></td>
					</tr>
				<% } %>
			</table>
		<% } %>
	</div>
</body>
</html>